[Unit]
Description=Sausage-store

[Service]
User=student
Environment=REPORT_PATH=/log/reports
Environment=LOG_PATH=/log
StandardOutput=file:/opt/log/sausage-store-backend.log
Restart=always
ExecStart=/usr/bin/java -jar '/home/student/sausage-store.jar' \
-Dmyserver.basePath='/home/student/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-Dspring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_NAME} \
-Dspring.datasource.username=${PSQL_USER} \
-Dspring.datasource.password=${PSQL_PASSWORD}
-Dspring.flyway.baselineOnMigrate=true \
-Dspring.data.mongodb.host=${MONGO_HOST} \
-Dspring.data.mongodb.port=27018 \
-Dspring.data.mongodb.uri=mongodb://rc1a-xb6q7pmw36t77ryz.mdb.yandexcloud.net:27018/std-013-59?replicaSet=rs01&appName=mongosh+1.1.9&ssl=true&tls=true -Djavax.net.ssl.trustStore=/home/student/YATrustStore -Djavax.net.ssl.trustStorePassword=superpass
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
