[Unit]
Description=Sausage-store

[Service]
User=student
Environment=REPORT_PATH=/log/reports
Environment=LOG_PATH=/log
StandardOutput=file:/opt/log/sausage-store-backend.log
Restart=always
ExecStart=/usr/bin/java -jar '/home/student/sausage-store.jar' \
-Dmyserver.basePath='/home/student/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-Dspring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_NAME} \
-Dspring.datasource.username=${PSQL_USER} \
-Dspring.datasource.password=${PSQL_PASSWORD}
-Dspring.flyway.baselineOnMigrate=true \
-Dspring.data.mongodb.host=${MONGO_HOST}:27018 \
-Dspring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true -Djavax.net.ssl.trustStore=/home/student/YATrustStore -Djavax.net.ssl.trustStorePassword=superpass
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
