[Unit]
Description=Sausage-store

[Service]
User=jarservice
Environment=REPORT_PATH=/log/reports
Environment=LOG_PATH=/log
StandardOutput=file:/opt/log/sausage-store-backend.log
Restart=always
ExecStart=java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar'
--spring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_NAME} \
--spring.datasource.username=${PSQL_USER} \
--spring.datasource.password=${PSQL_PASSWORD}
--spring.flyway.baselineOnMigrate=true \
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
